@charset "utf-8";
body{
	padding-right: 0% !important;
}
/*隐藏起来*/
.display-none{
	display: none;
}
/*红色*/
.required,.red{
	color: red;
}
.border-red{
	border: 1px solid red;
}
.border-differ{
	border: 1px solid orange;
}
input:disabled.border-differ{
	border: 1px solid orange;
}
.toggle{
	width: 50px;
}
.mainTitle{
	float: left;
    margin-bottom: 0px;
    margin-top: 6px;
}
.formbox{
	padding: 20px 0px;
}
.control{
	border: 1px solid #c6d5e2;
	padding: 20px 15px 20px 10px;
	-webkit-box-shadow: 0 0 5px #c6d5e2;
    box-shadow: 0 0 5px #c6d5e2;
    border-radius: 2px;
    margin-bottom: 20px;
    position: relative;
}
.close-link{
	position: absolute;
	top: 5px;
	right: 5px;
}
.close-link i{
	font-size: 15px;
}
.close-opt{
	height: 100%;
}
.close-opt i{
	font-size: 16px;
	vertical-align: -webkit-baseline-middle;
}
.sameitem{
	margin-top: 10px;
	height: 34px;
}
.sameitem input{
	height: 100%;
}
.additem{
	display: inline-block;
	height: 100%;
	border: 1px dotted #BFBFBF;
	text-align: center;
}
.additem i{
	font-size: 16px;
	vertical-align: -webkit-baseline-middle;
}
.detailMulbox{
	padding: 10px 0px;
}
.paddleft10{
	padding-left: 20px;
}
.nav>li>a.user-profile{
    padding: 0px 15px 3px;
}
.toggle{
	padding-top: 5px;
}
.top_nav li a i{
	font-size: 18px;
	position: absolute;
    top: 9px;
    left: -8px;
}
.info-number .badge{
	font-size: 10px;
	padding: 1px 4px;
	right: 12px;
	top: 4px;
}
.h3, h3{
	font-size: 20px;
}
.page-title .title_right .pull-right {
    margin: -5px 0 0px;
}
.page-title .title_left h5{
	margin-top: -3px;
}
.input-group{
	margin-bottom: 0;
}
.form-control{
	height: 28px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.btn{
	padding-top: 3px;
	padding-bottom: 3px;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
	padding: 3px 5px;
	vertical-align: middle;
}
table.border-none{
	border: none;
}
.nodatatip{
	margin-top: 8px;
	display: block;
}
tbody .fa{
	vertical-align: middle;
}
.tablemin{
	min-height: 208px;
}
::-webkit-input-placeholder { /* WebKit browsers */
　　font-size:13px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　font-size:13px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
　　font-size:13px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
　　font-size:13px;
}
.marb10,.table{
	margin-bottom: 10px;
}
.martb0{
	margin-top: 0px;
	margin-bottom: 0px;
}
.mart-5{
	margin-top: -5px;
}
.pmarb2 p{
	margin-bottom: 2px;
}
.onlylabel{
	position: relative;
}
.onlylabel label{
	position: absolute;
	top: 4px;
	left: 30px;
}
.pageAndbtn>div{
	padding-left: 5px;
	padding-right: 0px;
}
.pageAndbtn .pagination{
	float: right;
}
.pageAndbtn .checkOnly label{
    vertical-align: middle;
    margin-right: 10px;
}
.pageAndbtn .icheckbox_flat-green{
	margin-top: -6px;
	margin-right: 8px;
}
.detailBox{
	max-height: 400px;
}
/*组织结构页面*/
.ogBox{
	max-height: 500px;
	overflow-y: auto;
}
.ztree *{
	font-size: 13px;
}
.ztree li a{
	height: 20px;
}
.ztree li span.button.ico_open,
.ztree li span.button.ico_close,
.ztree li span.button.ico_docu{
	margin-right: 5px;
	background: url(../images/3.png) 0 0 no-repeat !important;
    background-size: 100% 100% !important;
}
.button{
	box-shadow: none;
}
/*增加,编辑,删除按钮系列*/
.ztree li a.btn {
    line-height: 0;
    width: 18px;
    height: 18px;
    outline: none;
    display: none;
}
.ztree li a.add {
    margin-left: 10px;
    margin-right: 5px;
    background: url(../images/add.png) no-repeat;
    background-size: 100% 100%;
}
.ztree li a.edit {
    margin-right: 5px;
    background: url(../images/edit.png) no-repeat;
    background-size: 100% 100%;
}
.ztree li a.remove {
    margin-right: 5px;
    background: url(../images/delete.png) no-repeat;
    background-size: 100% 100%;
}
.ztree li a.unbind {
    margin-right: 5px;
    background: url(../images/unbind.png) no-repeat;
    background-size: 100% 100%;
}
.ztree li a.inlineBlock{
	display: inline-block;
}
ul.to_do{
	max-height: 250px;
	overflow-y: auto;
}
ul.to_do li{
	padding: 0px;
}
ul.to_do a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 7px;
}
ul.to_do a:hover{
	background: #007aff;
	color: white;
}
ul.to_do a.nobg{
	text-align: center;
}
ul.to_do a.nobg:hover{
	background:#f3f3f3;
	color: #5A738E;
	cursor: default;
}
.endItem{
	color: #007AFF;
}
#theUser{
	background: url(../images/search.png) no-repeat 98% 3px;
    border: 1px solid #bfbfbf;
    padding-right: 20px;
    padding-left: 3px;
    color: #5A738E;;
}
.btnSearch .form-control:first-child{
	border: 1px solid rgba(221,226,232,.49);
	box-shadow: inset 0 1px 0 rgba(0,0,0,.075);
    border-radius: 25px;
    padding-left: 20px;
}
.btnSearch .form-control:focus{
	border-radius: 25px;
}
.loadingBody{
	padding: 5px 15px;
}
.loading{
	text-align: center;
}
.loading .fa{
	font-size: 18px;
}
@media (min-width: 768px){
	.modal-sm{
		width: 150px;
	}
}
.loadingModal {
    margin: 250px auto;
}
table.table_a thead {
    background: rgba(52, 73, 94, 0.94);
    color: #ECF0F1
}
#staffList i{
	font-size: 13px;
}
#staffList td span{
	line-height: normal;
}
#alertModal{
	margin-top: 140px;
}
.alert{
	margin-bottom: 0px;
}


.pageb{
	margin-top: 6px;
	margin-left: 10px;
}
.seAll{
	margin-right: 10px;
}
.pagination>li>a.current{
	background: #1ABB9C;
	color: white;
	border: 1px solid #1ABB9C;
}
.sameStyle{
	overflow-y: auto;
}
.sameStyle>div{
	padding: 0px 8px 10px 0px;
}
.sameStyle p{
	margin-bottom: 3px;
}
.sameStyle input{
	padding: 0px 3px;
}
.sameStyle input,.sameStyle select{
	outline: none;
	width: 100%;
	height: 25px;
}
input:disabled{
	border: 0.5px solid rgb(169, 169, 169);
	background: white;
}
/* TODO: */
.mainDetail{	
	/* max-height: 220px; */
	padding: 0px 0px 5px;
}
#mainPart{
	max-height: 220px;
	overflow-y: auto;
	display: none;
}
.approveDetal{
	max-height: 500px;
	margin-top: 8px;
}
.approveStyle{
	position: relative;
}
.apBtns{
	position: absolute;
	top: -5px;
	right: 5px;
}
.approveStyle .padl-0{
	padding-left: 0px;
}
input:disabled,select:disabled{
	cursor: no-drop;
}
.disabled{
	pointer-events: none;
}
#reText{
	width: 100%;
	height: 200px;
	padding: 10px;
	resize: none;
}
.treeMaxH{
	max-height: 400px;
	overflow-y: auto;
}
.ap-sub button{
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0;
}
.sameCom .col-md-6{
	padding-bottom: 10px;
	padding-right: 0px;
}
/*日期控件*/
.dropdown-menu{  /*控制上/下显示*/
	/*bottom: 0px;*/
}
.input-group-addon{
	padding: 3px 12px;
}
.form-group{
	margin: 0px;
}
.selectDate .disabled .input-group-addon{
    background-color: #eee !important;
    border: 1px solid #ccc !important;
    border-left: none !important;
    border-radius: 0px 4px 4px 0px !important;
}
.mulBox{
	position: relative;
}
.mulBox input{
	border: 0.5px solid #BFBFBF;
	-webkit-appearance: menulist;
	padding-right: 20px;
} 
.mulItem{
	list-style: none;
	width: 97.5%;
	background: white;
	z-index: 99;
	border: 0.5px solid #BFBFBF;
	position: absolute;
	padding: 0px;
	display: none;
}
.mulItem li{
	border-bottom: 1px solid #F7F7F8;
	padding: 0px 8px;
}
.mulItem input{
	width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    margin-right: 10px;
}
.mulItem .fa{
	position: absolute;
    right: 4px;
    top: 5px;
}

input.error, select.error{ border: 0.5px solid red; }
label.error {
	margin-bottom: 0px;
  	font-weight: normal;
  	color: #EA5200;
  	margin-left: 5px;
}
.addBox{
	margin-bottom: 15px;
}
.navbar-nav .open .dropdown-menu li a i{
	left: 45px;
	top: 10px;
}
.backgrey input{
	background: rgb(235,235,228);
	border: 0.5px solid rgb(169, 169, 169);
}
.pointer td a{
	margin-right: 10px;
}
.table .headings th:nth-of-type(5){
	width: 20%;
}
.vStyle label{
	display: block;
	text-align: left;
}
.vStyle .form-control{
	height: 34px;
}
.map img{
	width: 100%;
}
#staffList cite{
	background: #3d8fe9;
    margin-right: 10px;
    color: white;
    padding: 0px 2px;
    font-style: normal;
	
}
.table-striped>tbody>tr.notFocus{
	pointer-events: none;
    background: #e1e0e0;
}
.table_a thead th:nth-of-type(1){
	width: 10%;
}
.table_a thead th:nth-of-type(2){
	width: 10%;
}
.table_a thead th:nth-of-type(3){
	width: 20%;
}
.saletext[readonly]{
	background: white;
	cursor: default;
	-webkit-appearance: menulist;
}
.reasonBox{
	margin-top: 10px;
}
.reasonBox p{
	margin-bottom: 5px;
}
/*普查信息部分*/
.surveyBox .col-md-12{
	padding: 0px;
	margin-bottom: 10px
}
.surveyBox p{
	margin-bottom: 5px;
}
.surveyBox input,.surveyBox textarea{
	width: 100%;
	pointer-events: none;
	resize: none;
}
.surveyBox input{
	height: 28px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 3px;
}
.surveyBox .mulStyle input{
	-webkit-appearance: menulist;
}
.surveyBox .s_title{
	font-weight: bold;
}
.padd0{
	padding:0px;
}

.nav-tabs>li>a{
	padding: 5px 20px;
}
.nav-tabs{
	margin-bottom: 10px;
}

/*拜访计划样式*/
.itemStyle input{
	-webkit-appearance: menulist;
}
.itemStyle input[readonly]{
	background: white;
	cursor: pointer;
}

.table .pointer .createTime{
	vertical-align: middle;
}
.planonly{
	padding-left: 0;
	padding-right: 0;
}
.marT28 .btn{
	margin-top: 28px;
}
.day{
	background: #3d8fe9;
    margin-right: 10px;
    color: white;
    padding: 0px 2px;
    font-style: normal;
}
.planonly .form-control[readonly]{
	background: white;
}

.skuBox label{
	width: 100%;
	position: relative;
}
.skuBox input{
	width: 100%;
	padding: 0px 30px 0px 5px;
	height: 28px;
}
.skuBox input[readonly]{
	cursor: no-drop;
}
.skuBox .unit{
	position: absolute;
	top: 4px;
	right: 8px;
}
.skuBox span.timeTip{
	font-size: 12px;
	color: #96a7ae;
}
/*账户管理页面*/
.accountPage .optBtn{
	margin-top: 15px;
}
.accIndic .fa{
    margin-right: 2px;
}
.top_search{
	margin-bottom: 10px;
}
.top_search .form-control{
	border-radius: 3px 0 0 3px;
    padding-left: 10px;
}
.top_search .input-group-btn button{
	border-radius: 0 3px 3px 0;
}
ul.sysCords li{
	padding: 5px;
}
.sysCords .icheckbox_flat-green{
	margin-right: 5px;
}
.writeItem{
	margin-bottom: 15px;
}
.writeItem .error{
	font-weight: normal;
}
.writeItem .inTip{
	font-weight: normal;
	color: rgba(0,0,0,.5);
    font-size: 12px;
}
.searchTip{
	font-size: 12px;
	margin-bottom: 0;
}


.table td p{
	margin: 0;
}

#setScope{
	width: 100%;
    border: 1px solid #e5e5e5;
    color: #787777;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    cursor: pointer;
}
#setScope span{
	background: #3d8fe9;
	color: white;
	margin-right: 8px;
}
